<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1500">
        <img class="d-block w-100" src="https://rukminim1.flixcart.com/fk-p-flap/3376/560/image/275a28281f9262c7.jpg?q=50" alt="First slide">
      </div>
      <div class="carousel-item"  data-bs-interval="1500">
        <img class="d-block w-100" src="https://rukminim1.flixcart.com/fk-p-flap/844/140/image/a473e0c2ff5779e1.jpg?q=50" alt="Second slide">
      </div>
      <div class="carousel-item"  data-bs-interval="1500">
        <img class="d-block w-100" src="https://rukminim1.flixcart.com/fk-p-flap/3376/560/image/058acefcd9c1807a.jpg?q=50" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>